*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

//colors
$dark: #100e1d;
$light: #e7e7eb;
$blueBack: #1e213a;
$circleBg:#6c757d;
$white: #fff;
$badgeSecondaryBg: #6c757d;
$progressBarBg:#ffec65;
$progressBg:#e9ecef;
$degreeBtn:#585676;
$degreeBtnHover:#100e1d;
$degreeBtnHoverBg:#e7e7eb;
$locationInputBoxShadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
$locationSubmitBtn: #3c47e9;
$locationSubmitBtnHover: #4e58e4;

//css
body {
    background: $dark;
    color: $light;
    font-family: "Raleway", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}